* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0d1117;
    --assistant-color: #161b22;
    --input-font-color: #c2c3c5;
    --border-color: #30363d;

}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    background-color: var(--main-color);
    justify-content: center;
}

.user-form {
    background-color: var(--assistant-color);
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    position: relative;

}

.user-form input {
    border: 1px solid var(--border-color);
    background-color: var(--main-color);
    padding: 0.5rem 1rem;
    font-size: 16px;
    border-radius: 0.3rem;
    color: #fff;
    font-family: inherit;
    width: 100%;
}

.user-form input:focus {
    outline: none;


}

.user-form input::placeholder {
    color: var(--input-font-color);
}

.user-form button {
    position: absolute;
    right: 1.5rem;
    font-size: 14px;
    border: 1px solid var(--border-color);
    border-radius: 0.3rem;
    padding: 5px;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
}

main {
    width: 350px;
    margin: 1rem 0;

}

.card {
    border: 3px solid var(--border-color);
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--assistant-color);
    box-shadow: 6px 10px 6px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.user-image {
    width: 150px;
    border-radius: 50%;
    border: 10px solid var(--main-color);
}

.user-info {
    padding: 1rem;
}

.user-name {
    border-bottom: 1px solid var(--border-color);
    line-height: 200%;
}

h2 {
    color: #fff;
    letter-spacing: 5px;
}

small {
    font-weight: bold;
    color: var(--input-font-color);
    letter-spacing: 1.5px;
}

p {
    color: #eee;
    text-align: justify;

}

ul {
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;

}

ul li {
    list-style-type: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    background-color: #40454e;
    padding: 0.50rem 0.3rem;
    border-radius: 5px;
    cursor: pointer;
}

ul li:hover {
    color: rgb(210, 245, 140);
}

.repos {
    display: flex;

    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    justify-content: space-evenly;
}

.repos a {
    color: #c5e1ff;
    text-decoration: none;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 0.30rem;
    letter-spacing: 2px;
    margin: 0.5rem;
}

.repos i {
    color: var(--input-font-color);
}